body{
    background: url(https://www.fightersgeneration.com/news2020/game/cvs2-stage-london.jpg);
}
h1{
    color: azure;
}
h3{
    color: azure;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-style: italic;
    color: aqua; 
 }
ul{
    color: azure;
    border:     aqua 2px solid;
    background: lightblue;
}
div{
    background: azure;
    border: gray 2px solid;     
}
div2{
    color: aliceblue;
}

span{
    color: lightskyblue
}
a{
    color: white;
}